/*General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Body Styling*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}
/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0044cc;
    flex-direction: row;
    color: white;
    padding: 20px;
    text-align: left;
}

.logo {
    width: 80px;
}

header img {
    margin: 0 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    grid-column: 2;
}

header h1 {
    margin-bottom: 10px;
    font-size: 20px;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Nav Links*/
nav {
    display: flex;
    background-color: #333;
    color: white;
    padding: 10px;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
/* Add an check mark before each navigation link*/
nav a::before {
    content: '✅';
    font: bold;
    margin-right: 8px;
}

nav a:hover {
    text-decoration: underline;
}
/* Main */
main {
    padding: 20px;
}

.card, .card1 {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* box-shadow for the card effect*/
}
.card h3, .card1 h3 {
    margin-bottom: 15px;
    border-bottom: 2px solid #0044cc;
    padding-bottom: 5px
}
/* Image */
.hero img {
    width: 100%;
    height: auto;
}
.hero .overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: bold;
}
/* Learning Activities List*/
.card1 ul {
    list-style-type: none;
    padding: 0;
}
.card1 li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.card1 li a {
    text-decoration: none;
    color: #0044cc;

    font-weight: bold;
}

.card1 li a:hover {
    text-decoration: underline;
}
/* Footer*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    /* If you want to position it at the bottom*/
}

footer p {
    margin-bottom: 10px;
}

#flag {
    height: 30px;
    width: 30px;
    padding-top: 1em;
    padding-left: 2px;
}

.map-container {
    width: 100%;
    max-width: 1200px; /* Max width to keep the map compact */
    margin: 20px auto; /* Center the map and add some spacing */
    height: 300px; /* Set a fixed height to avoid too much scrolling */
    border: 1px solid #ccc; /* Optional: add border for style */
    border-radius: 10px; /* Optional: rounded corners for style */
    overflow: hidden; /* Hide overflow to make sure the map fits inside */
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}


